* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

.App {
  width: 100%;
  min-height: 100vh;
  background: #111;
  display: flex;
}

/* Keyframes Animation For Clock */

@keyframes scaleNumber {
  0% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

@media (max-width: 1210px) {
  .App {
    flex-direction: column;
    align-items: center;
    padding: 0 14px;
  }
  .App .container {
    max-width: 700px;
  }
}
